<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar2.ejs') %>
        <div class="container">
            <h2>Add an MP</h2>
            <form method="post">
                <label for="id">MP ID</label>
                <input type="number" id="id" placeholder="Ener MP ID" name="id">
                <label for="name">MP Name</label>
                <input type="text" id="name" placeholder="Ener MP's name" name="name">
                <label for="party">Political Party</label>
                <input type="text" id="party" placeholder="Ener Party name" name="party">
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>