<h1 style="color:blue">This is my Home Page.</h1>

<html>
    <head>
    <%- include('partials/header1.ejs') %>   
    </head>
<body>
    <%- include('partials/navbar1.ejs') %>
    <div class="container">
        <h2>New Zealand</h2>
        <img class="img2" src="/public/images/bridalveilFalls.jpg" alt="Bridal Veil Falls">
        <p>New Zealand is a peaceful country.</p>
        <p><a href="auckland">Auckland</a> is the commerical hub of New Zealand</p>
        <p style="color:#23086f">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore manga aliqua.</p>
    </div>
    
    <h4>This is the Home Page.</h4>
</body>
</html>